.alertBlock {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--ifm-global-border-radius);
  border-left: 5px solid;
}

.alertTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.alertContent {
  /* Default font size and line height */
}

/* Specific styles for different alert types */
.info {
  background-color: var(--ifm-color-info-light);
  border-left-color: var(--ifm-color-info);
  color: var(--ifm-color-info-darkest);
}

.warning {
  background-color: var(--ifm-color-warning-light);
  border-left-color: var(--ifm-color-warning);
  color: var(--ifm-color-warning-darkest);
}

.critical {
  background-color: var(--ifm-color-danger-light);
  border-left-color: var(--ifm-color-danger);
  color: var(--ifm-color-danger-darkest);
}
